* {
  padding: 0;
  margin: 0;
}
#heading {
  color: red;
}
#title {
  color: greenyellow;
}

#container {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  gap: 50px;
  background-color: aqua;
  padding: 10px 20px;
}
.bmwImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
#search {
  width: 30vh;
  height: 40px;
  align-self: center;
  border-radius: 12px;
  padding-left: 10px;
}
